.pageContainer {
    padding: 5rem;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 1263px;
    width: 100%;
}

.contentContainer {
    display: flex;
    gap: 1.5rem;
}

.productsContainer {
    width: 75%;
}

.searchBarContainer {
    background-color: #DCE4DC;
    height: 3rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    position: relative;
}

.searchInput {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 8px;
    background-color: transparent;
    outline-color: #04724d7e;
    padding: 1rem;
}

.searchInput::placeholder {
    color: #04724d7e;
}

.searchIcon {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 1rem;
}