.pageContainer {
    width: 100%;
    min-height: 80vh;
    padding: 5rem;
}

.topSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
}

.sectionTitle {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sectionTitle > h1 {
    font-size: 32px;
    margin: 0;
    align-self: flex-end;
    max-height: fit-content;
    color: #151515;
}

.sectionTitle > p {
    font-size: 18px;
    max-height: fit-content;
    color: #56876D;
}

.searchBarContainer {
    background-color: #DCE4DC;
    padding: 1rem;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    height: 5rem;
}

.searchBar {
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid #56876D;
    width: 60%;
    position: relative;
}

.searchBarInput {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    padding-left: 1rem;
    color: #151515;
}

.searchBarInput::placeholder {
    color: #56876D;
}

.searchIcon {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translate(0, -50%);
}

.addProductBtn {
    background-color: #56876D;
    border: none;
    outline: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem 0 1rem;
    color: #DCE4DC;
    gap: 0.6rem;
    font-size: 24px;
    cursor: pointer;
    transition-duration: 0.2s;
}

.addProductBtn:hover {
    background-color: #04724D;
}

.productTable {
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}

.tableHead {
    display: flex;
    border-bottom: 2px solid #8DB38B;
}

.tableHead > th > p {
    font-size: 24px;
    font-weight: 400;
    color: #04724D;
    cursor: pointer;
    width: fit-content;
}

.productNameColumnHead {
    display: flex;
    width: 60%;
    align-items: center;
}

.borderBottom {
    width: 100%;
    height: 1px;
    background-color: #8DB38B;
}

.loadingContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 5rem;
}