.inputContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.productInput {
    display: flex;
    background-color: transparent;
    outline: none;
    border: 2px solid #8DB38B;
    border-radius: 8px;
    padding: 1rem;
    max-width: 100%;
}

.productInputError {
    display: flex;
    background-color: transparent;
    outline: none;
    border: 2px solid #fd5656;
    border-radius: 8px;
    padding: 1rem;
    width: 100%;
}

.errorMsg {
    color: #fd5656;
    position: absolute;
    bottom: 0;
    transform: translate(0,80%);
}