* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Kanit", sans-serif;
  font-size: 18px;
}

body {
  background-color: #F5F6F5;
}

#root {
  width: 100%;
  min-height: 100vh;

  --main-white-backgroud: #F5F6F5;

  --font-color: #151515;
  --font-selected-color: #56876D;
}