.footer {
    background-color: #151515;
    color: #DCE4DC;
    padding: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.footerContainer {
    width: 100%;
    max-width: 1280px;
}

.footerLinks {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.social {
    display: flex;
    gap: 10px
}

.iconBtn {
    width: 55px;
    height: 55px;
    background-color: #56876D;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;;
}

.footerTexts {
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
    border-top: 2px solid #DCE4DC;
}

.repoLink {
    color: #04724D;
    transition-duration: 0.2s;
}

.repoLink:hover {
    color: #8DB38B;
}