.pageContainer {
    padding-left: 5rem;
    padding-right: 5rem;
    min-height: 80vh;
}

.pageContainer > h1{
    font-size: 32px;
    margin-bottom: 1rem;
}

.infosContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}