.productCard {
    max-width: 23%;
    cursor: pointer;
    margin-top: 34px;
}

.productImgContainer:hover > .productImg {
    scale: 1.1;
    transition: ease-in-out 0.1s;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.26);
}

.productImgContainer {
    width: 250px;
    height: 340px;
    border-radius: 4px;
    overflow: hidden;    
}

.productImg {
    width: 250px;
    height: 340px;
    object-fit: cover;
}

.productInfo {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.productCategory {
    color: var(--font-selected-color);
}

.price {
    text-wrap: nowrap;
    color: var(--font-selected-color);
}