.headerContainer {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    padding-left: 5rem;
    padding-right: 5rem;
    align-items: center;
    position: absolute;
    z-index: 5;
}

.menuNav {
    display: flex;
    list-style: none;
    align-items: center;
    gap:3rem;
    font-weight: 600;
}

.menuNav > li {
    cursor: pointer;
    transition-duration: 0.2s;
    color: var(--font-color);
}

.menuNav > li > a {
    text-decoration: none;
    color: inherit;
}

.menuNav > li:hover {
    scale: 1.05;
    color: var(--font-selected-color);
}

.profileNav {
    display: flex;
    align-items: center;
}

.profileNavText {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: 600;
    color: var(--font-color);
}

.welcome {
    font-weight: 400;
}

.userName {
    color: #56876D;
}